<div class="bg-white shadow">
    <div class="container mx-auto px-4 py-2 md:py-3">
        <div class="flex justify-between items-center">

            <!-- Twitter Title -->
            <div class="flex justify-between text-lg md:text-xl font-bold">
                <img src="assets/twitter-logo.png" alt="logo">
                <h1>Twitter</h1>
            </div>

            <!-- User -->
            <div class="relative">
                <div class="
                cursor-pointer
                w-6
                h-12
                text-blue-600
                flex
                items-center 
                justify-center
                rounded-full
                ">
                    <img class="w-6 h-12 rounded-full" src="assets/sakura.png" alt="perfil">
                </div>
            </div>
        </div>
    </div>
</div>